.nav {
    grid-area: n;
    background-color: rgb(110, 108, 108);
    padding: 50px;
}

.item a {
      color: rgb(248, 248, 248);
      text-decoration: none;
      font-weight: 300;
}

.item a.active {
     color: rgb(0, 245, 233);
 }